<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Top 100 anime</title>
</head>
<body>
<section layout:fragment="body">
    <div class="left-div">
        <h1>Top 100 anime</h1>
        <div class="anime-info" th:each="anime :${animes}">
            <img th:src="${anime.imageUrl}" alt="Anime Image" class="anime-image">
            <div>
                <a th:text="${anime.title}" th:href="@{/animes/{animeId}(animeId=${anime.id})}" class="anime-name">Anime name</a>
                <br>
                <div th:each="genre :${anime.genres}" class="anime-genres-div">
                    <a th:text="${genre.name}" th:href="@{/animes/genre/{genreName}(genreName=${genre.name})}" class="anime-genres"></a>
                </div>
                <p th:text="${anime.description}" class="anime-description">
            </div>
            <a href="#" class="anime-link">Join discussion</a> <!-- Добавляем ссылку -->
            <a th:href="@{/animes/{animeId}/edit(animeId=${anime.id})}" class="anime-link">Edit</a>
        </div>
    </div>

    <div class="right-div">
        <div class="right-align">
            <img src="https://via.placeholder.com/200x300" alt="Image 1" class="right-image">
            <a href="#" class="right-link">Join us in our telegram chat</a>
            <img src="https://via.placeholder.com/200x300" alt="Image 2" class="right-image">
            <a href="#" class="right-link">Support our project</a>
        </div>
    </div>
</section>
</body>
</html>
